extends ../layout 

block content 
  h1.my-3= title
  table.table.table-bordered.table-striped
    thead 
      tr 
        th.text-center N°
        th.text-center NOM ET PRENOM 
        th.text-center POSTE 
        th.text-center ACTIONS
    tbody 
      if employees.length
        each employee, index in employees
          tr
            td(align='center')=index < 9 ? `0${index + 1}` : index + 1
            td=`${employee.firstName} ${employee.lastName}`
            td=employee.responsibility 
            td(align='center') 
              a(href="/employee/show/"+employee._id) Voir détails
      else 
        tr
          td(colspan='4', align='center') Liste Vide

